$headingfont: "DomaineDispSemibold";
@font-face {
    font-family: 'Heading';
    src: url('@/assets/fonts/Heading/' + $headingfont + '.ttf') format('truetype');
    src:url('@/assets/fonts/Heading/' + $headingfont + '.woff2') format('woff2'),
        url('@/assets/fonts/Heading/' + $headingfont + '.woff') format('woff'),
        url('@/assets/fonts/Heading/' + $headingfont + '.eot') format('embedded-opentype');
        font-weight: 400;
        font-style: normal;
}
$subheadingfont: "DomaineDispSemibold";
@font-face {
    font-family: 'Subheading';
    src: url('@/assets/fonts/Subheading/' + $subheadingfont +'.ttf') format('truetype');
    src:url('@/assets/fonts/Subheading/' + $subheadingfont +'.woff2') format('woff2'),
        url('@/assets/fonts/Subheading/' + $subheadingfont +'.woff') format('woff'),
        url('@/assets/fonts/Subheading/' + $subheadingfont +'.eot') format('embedded-opentype');
        font-weight: 400;
        font-style: normal;
}
$bodyfont: "Reader";
@font-face {
    font-family: 'Body';
    src: url('@/assets/fonts/Body/' + $bodyfont + '.ttf') format('truetype');
    src:url('@/assets/fonts/Body/' + $bodyfont + '.woff2') format('woff2'),
        url('@/assets/fonts/Body/' + $bodyfont + '.woff') format('woff'),
        url('@/assets/fonts/Body/' + $bodyfont + '.eot') format('embedded-opentype');
        font-weight: 400;
        font-style: normal;
}
$heading: "Heading";
$subheading: "Subheading";
$body: "Body";
